<footer class="footer">
  <div class="footer-container">
    <div class="about">
      <h3>About Us</h3>
      <p>At Sfax restaurants, culinary passion and warm welcome know no end.</p>
    </div>

    <div class="navigation">
      <h3>Explore</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Reservation</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="contact-info">
      <h3>Contact Information</h3>
      <div class="info-item">
          <div class="icon-container">
              <img src="assets/local.png" alt="Localisation" class="icon">
          </div>
          <p> Sfax, Tunisia</p>
      </div>
      <div class="info-item">
          <div class="icon-container">
              <img src="assets/phone.png" alt="Téléphone" class="icon">
          </div>
          <p>+216 12 345 678</p>
      </div>
      <div class="info-item">
          <div class="icon-container">
              <img src="assets/mail.png" alt="Mail" class="icon">
          </div>
          <p>info@reserve.tn</p>
      </div>
  </div>
  
  
    

    <div class="social-media">
      <h3>Follow us</h3>
      <div class="icons">
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <img src="assets/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
          <img src="assets/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
          <img src="assets/twitter.png" alt="Twitter">
        </a>
      </div>
    </div>
  </div>
</footer>
