<section class="about-section">
    <div class="content-wrapper">
      <div class="images">
        <img src="assets/photo.png" alt="Brochettes" class="image-large">
        <img src="assets/photo1.png" alt="Burger" class="image-small">
      </div>
  
      <div class="text-content">
        <h1>Our Mission</h1>
        <p>Welcome to our reservation platform, your guide to discovering and booking the best tables in Sfax. Whether you are looking for a family meal, a romantic dinner or a business lunch, we offer you a selection of quality restaurants throughout the city. In just a few clicks, book the ideal table, at the time and date of your choice, and enjoy an unforgettable culinary experience.</p>
      <p>Choose your restaurant, book your table and enjoy every moment.</p>
  
        <h2>Why Choose Us?</h2>
        <p>
          Our online reservation service allows you to save time and secure a seat at the best restaurants in Sfax. We offer a simple and fast interface, as well as up-to-date information on restaurant availability, menus and special promotions. Book in advance to avoid any waiting and enjoy an exceptional gastronomic experience in the city. With our platform, you are guaranteed to find the perfect place for every occasion.
        </p>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  
