<header class="title">
    <h1>Restaurant Menu</h1>
  </header>
  
  <main class="container">
    <!-- Galerie des plats -->
    <div class="gallery">
      <figure *ngFor="let dish of dishes" (click)="openDishDetails(dish)">
        <img [src]="dish.imageUrl" [alt]="dish.name">
        <figcaption>{{ dish.name }}</figcaption>
      </figure>
    </div>
  </main>
  
  <div *ngFor="let dish of menuItems">
  <h3>{{ dish.name }}</h3>
  <p>{{ dish.price }} TND</p>
  <button (click)="addToOrder(dish)">🛒 Ajouter au panier</button>
</div>

<a routerLink="/order">
  <button>📦 Passer à la livraison</button>
</a>

  <!-- Modal pour afficher les détails du plat -->
  <div *ngIf="(dishService.selectedDish$ | async) as selectedDish" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>{{ selectedDish.name }}</h2>
      <p>Price: {{ selectedDish.price }}</p>
      <p>Best Restaurant: {{ selectedDish.bestRestaurant }}</p>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  
  <app-footer></app-footer>
  