
    <header class="title">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <h1>Restaurant Menu</h1>
    </header>

    <main class="container">
        <div class="gallery">
            <figure>
                <img src="assets/Roti de boeuf.png" alt="Plat 1">
                <figcaption>Roast beef</figcaption>
            </figure>
            <figure>
                <img src="assets/Gratiin fruit de mer.png" alt="Plat 2">
                <figcaption>Seafood gratin</figcaption>
            </figure>
            <figure>
                <img src="assets/sandwich.png" alt="Plat 3">
                <figcaption>sandwich</figcaption>
            </figure>
            <figure>
                <img src="assets/pasta crevette.png" alt="Plat 4">
                <figcaption>shrimp pasta</figcaption>
            </figure>
            <figure>
                <img src="assets/Italian Spaghetti with Seafood.png" alt="Plat 5">
                <figcaption>Italian Spaghetti with Seafood</figcaption>
            </figure>
            <figure>
                <img src="assets/pizza.png" alt="Plat 6">
                <figcaption>Pizza</figcaption>
            </figure>
            <figure>
                <img src="assets/coscous.png" alt="Plat 7">
                <figcaption>Coscous</figcaption>
            </figure>
            <figure>
                <img src="assets/image5.png" alt="Plat">
                <figcaption>seafood ojja</figcaption>
            </figure>
            <figure>
                <img src="assets/burger.png" alt="Plat">
                <figcaption>Burger</figcaption>
            </figure>
        </div>
    </main>

   
    <app-footer></app-footer>

