<div class="admin-section">
  <h2>Restaurant Management</h2>
  <button class="btn-add" (click)="onAddRestaurant()">+ Add Restaurant</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Type of cuisine</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of restaurants">
        <td>{{ restaurant.id }}</td>
        <td>{{ restaurant.nom }}</td>
        <td>{{ restaurant.location }}</td>
        <td>{{ restaurant.typeCuisine }}</td>
        <td>
          <button class="btn-edit" (click)="onEditRestaurant(restaurant)">To modify</button>
          <button class="btn-delete" (click)="onDeleteRestaurant(restaurant)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
