<div class="background">
    <img src="assets/ImgBackground.png" alt="Background">
  </div>

<div class="container">
    <!-- Header -->
    <header class="header">
      <div class="logo">
       
      </div>

    <h1>Forgot password</h1>

    <div class="forgot-password-container">
        <form action="/reset-password" method="POST">
            <!-- Champ pour l'email -->
            <label for="email">Enter your email address:</label>
            <input type="email" id="email" name="email" required>

            <!-- Bouton de soumission -->
            <button type="submit">Send reset link</button>

            <!-- Lien pour revenir à la page de connexion -->
            <p><a href="/login">Back to login</a></p>
        </form>
    </div>

    


