<div class="background">
    <img src="assets/ImgBackground.png" alt="Background">
  </div>


  <div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">Forgot password</h2>
            <form [formGroup]="myForm" (ngSubmit)="forgetpassword()">
    

     <!-- Champ Email -->
     <div class="row">
      <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter Email"
              [class.is-invalid]="email?.invalid && email?.touched">
          <div *ngIf="email?.invalid && email?.touched" class="text-danger">
              <small *ngIf="email?.errors?.['required']">Email is required.</small>
              <small *ngIf="email?.errors?.['email']">Invalid email format.</small>
          </div>
      </div>
    </div>
            <!-- Bouton de soumission -->
            <a routerLink="/login" class="btn btn-primary btn-user btn-block">
                Reset Password
            </a>
            

            <!-- Lien pour revenir à la page de connexion -->
          
            <div class="text-center">
                <a routerLink="/register" class="small">Create an Account!</a>
            </div>
            <div class="text-center">
                <a routerLink="/login" class="small">Already have an account? Login!</a>
            </div>
        </form>
    </div>

    


